* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    color: #05073C;
    
    text-decoration: none;
}
a:hover{
    color: #EB662B;
}
.navbar{
    height: 10vh;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.navlink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
}
.navlink2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    height: 34px;
    width: 80px;
    border: 1px solid black;
     border-radius:20px ;
     background-color: none;
}


@media(max-width:1090px){  
    .navbar .navlink2{
        display:none;    
}
    .navbar .burger{
        display: block; 
    }
    .navbar .burger div{ 
        height: 3px;
        width: 30px;
        background-color: #05073C;
        margin-bottom: 4px;
        
    }
}
@media(max-width:780px){  
    .navbar .navlink a{
        display:none;    
}
    .navbar .burger{
        display: block; 
    }
    .navbar .burger div{ 
        height: 3px;
        width: 30px;
        background-color: #05073C;
        margin-bottom: 4px;
        
    }
}

.hero{
    
    width: 100%;
    background-color: #EB662B0D;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.herocard1{
    /* height: 80px; */
    width: 77%;
    background-color: white;
    margin-top: 15px;
    border-radius: 12px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
   
}
.minicard1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.minicard{
    height: 50px;
    width: 50px;
    border-radius:12px;
    background-color: #EB662B0D;
}
 
div p{
    font-size: 10px;
}
.btn1{
    background-color: #EB662B;
    font-size: x-small;
    color: white;
    border: none;
    width: 130px;
    height: 45px;
    border-radius: 6px;
}
.herocard2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.herocard3{
   height: 400px;
   width: 50%;
   background-color: #EB662B;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center; 
    padding: 40px; 
   gap: 10px;
}

.herocard3 h1{
    color: white;
}
.herocard3 p{
    color: white;
}
.btn{
    border: 1px solid #EB662B;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    color: #EB662B;
    background-color: white;
}
.heroimage img{
    height: 400px;
    width: 100%;
    /* background-color: #EB662B; */
}


/* special offers */

.specialcard{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

 .offers {
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.offerscard div img{
    height: 80px;
    width: 80px;
}
.offerscard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
}
.offerspara{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
.specialoffers{ 
    margin-top:40px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

}


/* featured trips */


.featured{
    width: 100%;
    margin-top: 100px;
    /* border: 1px solid black; */
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;   
    flex-wrap: wrap;
    /* margin-left: 150px; */
}
.featured .trips{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    width:77%;
}
.trips button{
    height: 30px;
    width: 120px;
    border-radius: 6px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
    font-size:x-small;    
}

.tripscards{
    width: 200px;
    height: 257px;
    border-radius: 6px;
    border: 1px solid #E7E6E6;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    justify-content: flex-start;

    /* align-items:flex-end ; */
}
.allcards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}
.tripscards div img{
    width:200px;
    border-radius: 6px;
}
.tripsbot{
   width:200px ;
   height: 30px;
   border: 1px solid     #E7E6E6;
    display: flex;
    justify-content: space-around;
    padding-top: 6px;
}


/* travel card */

.travel{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.travelimg{
    width: 77%;
    height: auto;
    background-image: url(image9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 30px;
}
.travelcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.statscard{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 170px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 8px;
    gap: 10px;
    text-align: center;
}
.stats h2{
    font-weight: 600;
    color: #EB662B;
}
.stats div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* trending */


.trend{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 40px;
}
.trendcards{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card img{
    height: 140px;
    width: 120px;
}


.containers{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    
   padding: 20px;
    background-color: #EB662B;
    display: flex;
    justify-content: space-around;
    gap: 60%;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
}
.container div p{
    font-weight: 400;
    font-size: small;
    color: white;
}



/* top trend */


.toptrend{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    gap: 40px;
}
.tcard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* text-align: center; */
}
.tcard div{
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tcard img{
    height: 90px;
    width: 80px;
}
.trendcard2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}
.trendcards1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.section{
    margin-top: 100px;
    
}
.section1{
   width: 100%;
   height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(sectionimg.png);
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.section2 p{
    color: #EB662B;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.section3 p{
    color: black;
}
.section img{
    height: 70px;
    width: 70px;
}


.things{
    width: 100%;
    height: 500px;
    background-image: url(image11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.keepthings{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    color: white;
} 

/* diamond */


.symbols{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
    margin-top: 100px;
    flex-wrap: wrap;
}
.symcard{
    padding: 20px;
    margin-top: 30px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 1px solid black; */
    text-align: center;
}
.symcard img{
    height: 40px;
    width: 40px;
}
.symcard div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.symcardzz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
}







.travelcardz{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.travel{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
}
.travelcard9{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 210px;
    width: auto;
    flex-wrap: wrap;
    /* width: 200px; */
    /* border: 1px solid black; */
}

.travelcard9 img{
    height: 150px;
    width: 260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.travelcard9 div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logos{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.logos h3{
    color: #05073C;
}
.logoimg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    
}
.logoimg img{
    width: 80px;
    height: 20px;
}


.footer{
    width: 100%;
    height: auto;
    margin-top: 100px;
    background-color: #05073C;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    color: white;
   
}

.footer .offers{
    margin-top: 40px;
}
.container-3a{
    padding: 10px;
    display: flex;
    gap: 40px;
    justify-content: space-between;    
    flex-wrap: wrap;
}
.container-3b{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conatiner-3c{
    display: flex;
    gap: 10px;
    border: 1px solid gray;
    width: 225px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.the{
    height: 20px;
    width: 20px;
}
.conatiner-3c button, .my-input-class {
    text-decoration: none;
    outline: none;
    border: none;
    background-color: white;
   
}
@media(max-width:800px){
    .herocard3{
        width: 60%;
    }
    .heroimage{
        width: 100%;
        display: flex;
    justify-content: center;
}
.heroimage img {
    height: auto;
    width: 60%;
    }

}